@import "tailwindcss/preflight";
@tailwind utilities;
@tailwind utilities;

body {
  background-color: #0a192f;
  color: #cbd5e1; /* 基本の文字色（例） */
  font-family: var(--font-source-code-pro); /* 本文フォントを適用 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto-mono); /* 見出しフォントを適用 */
  color: #e2e8f0; /* 見出しの文字色（例） */
}
